################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wsIPC/v15
/Debug
/Demo/Debug
/wsIPC/Debug
